@import "../../styles/Main"

html,body
  @include resetStyle



.top
  display: flex
  justify-content: space-between
  align-items: center
  background: $header-color
  height: 5vh

  .logo
    left: 20%
    position: relative

    .logo-link
      @include resetLink
      font-family: $ttf-standard
      color: $black
      font-size: 1.5em
      text-transform: uppercase

  .navbar
    position: relative
    right: 20%


@media screen and (max-width: 760px)


  .top
    width: 100%

    .logo
      left: 5%

    .navbar
      right: 5%





