@import "../../styles/Main"

ul
  @include resetStyle
  text-decoration: none


.list-item
  color: white
  border-radius: 20px
  float: left
  padding: 1rem



.link
  @include resetLink
  background: white
  color: $black
  padding: 7px
  margin: 0
  border-radius: 20px



.link:hover
  background:  $black
  color: white
