@import "../../styles/Main"

ul
  @include resetStyle
  text-decoration: none
  li
    float: left
    padding: 1rem

.list-item
  color: white
  border-radius: 20px



.link
  text-decoration: none
  background: white
  color: $black
  padding: 7px
  margin: 0
  border-radius: 20px



.link:hover
  background:  $black
  color: white
